In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("datasets2/dataset-img-sub.csv")
data.head()

,id,rotulo,texto,texto_pt,len
0,53,FALSO,i have a possessed pepper plant every third or...,"Eu tenho uma planta de pimenta possuída, a cad...",352
1,1136,VERDADE,how melting plastic waste could heat homes res...,Como lixo plástico derretido poderia aquecer a...,331
2,695,FALSO,bill the butcher daniel daylewis takes a young...,"Bill, o açougueiro, Daniel Daylewis, leva um j...",326
3,3312,VERDADE,alan marsh an australian chook farmer successf...,"Alan Marsh, um fazendeiro australiano chooks e...",322
4,1314,VERDADE,human eggs with potential to become fertilised...,Óvulos humanos com potencial para se tornarem ...,319

In [11]:
len(data.index)

992

In [12]:
dft = pd.read_csv("datasets2/dataset_caption.csv")
dft.head()

   id   rotulo                                              texto
0   1    FALSO  a woman in a white dress and a white dress a w...
1   2    FALSO  a close up of a pair of scissors a close up of...
2   3  VERDADE  a group of people sitting around a table eatin...
3   4  VERDADE  a man wearing a tie and a white shirt . a man ...
4   5  VERDADE  a person laying on a bed with a blanket . a wo...

In [13]:
len(dft.index)

3901

In [14]:
df = pd.merge(data, dft,  left_on='id', right_on='id')
df.head()

,id,rotulo_x,texto_x,texto_pt,len,rotulo_y,texto_y
0,53,FALSO,i have a possessed pepper plant every third or...,"Eu tenho uma planta de pimenta possuída, a cad...",352,FALSO,a bunch of different types of fruit on a table...
1,1136,VERDADE,how melting plastic waste could heat homes res...,Como lixo plástico derretido poderia aquecer a...,331,VERDADE,a bunch of items that are on a table . a bunch...
2,695,FALSO,bill the butcher daniel daylewis takes a young...,"Bill, o açougueiro, Daniel Daylewis, leva um j...",326,FALSO,a birthday cake with a train on it a birthday ...
3,3312,VERDADE,alan marsh an australian chook farmer successf...,"Alan Marsh, um fazendeiro australiano chooks e...",322,VERDADE,a white dog laying on top of a bed . a white d...
4,1314,VERDADE,human eggs with potential to become fertilised...,Óvulos humanos com potencial para se tornarem ...,319,VERDADE,a close up of a cake with a train on it a clos...

In [7]:
len(dft.index)

992

In [15]:
df['rotulo'] = df['rotulo_x']
df['texto'] = df['texto_y']

df = df.drop('rotulo_x',axis=1) 
df = df.drop('rotulo_y',axis=1) 
df = df.drop('texto_x',axis=1) 
df = df.drop('texto_y',axis=1) 
df = df.drop('texto_pt',axis=1) 
df = df.drop('len',axis=1) 

df.to_csv('datasets2/dataset_caption.csv', index=False)