In [7]:
import pandas as pd
import json

In [8]:
#data = pd.read_csv("datasets/dataset-img.csv")
data = pd.read_csv("datasets2/dataset-img.csv")
data.head()

,id,image_url,rotulo,texto,texto_pt,nid
0,1,https://external-preview.redd.it/McvdbScdiL3hw...,FALSO,report reveals jesus christ have benefited fro...,Relatório revela que Jesus Cristo se beneficio...,baydyy
1,2,https://external-preview.redd.it/flfnMmEkyu49c...,FALSO,i was just minding my own business at work tak...,Eu estava apenas cuidando do meu próprio negóc...,18dtiz
2,3,https://external-preview.redd.it/-2KlTfo1prw6M...,VERDADE,i have always enjoyed reading uplifting news b...,Eu sempre gostei de ler sobre arrebatamentos n...,48kmrk
3,4,https://external-preview.redd.it/gzhiWReZG8fJJ...,VERDADE,man dodges armed robbers bullets to protect hi...,man dodges armed robbers bullets to protect hi...,8k7lg7
4,5,https://preview.redd.it/rxckr4c5zc731.jpg?widt...,VERDADE,i was born with a leg defect that makes my kne...,Eu nasci com um defeito na perna que faz meu r...,c74fru

In [9]:
len(data.index)

3901

In [10]:
df = data[['id','rotulo']].copy()
df.head()

   id   rotulo
0   1    FALSO
1   2    FALSO
2   3  VERDADE
3   4  VERDADE
4   5  VERDADE

In [11]:
import os.path

def get_caption(id):  
    #file_path = "datasets/captions/{}.json".format(id)
    file_path = "datasets2/captions/{}.json".format(id)
    #print(file_path)
    
    caption = ''
    if os.path.isfile(file_path):
        with open(file_path) as json_file:
            data = json.loads(json_file.read())        
            predictions = data.get('predictions')
            if predictions:
                for pred in predictions:
                    caption += pred['caption'] + ' '

    #print(caption)    
    return caption.strip()  

df['texto'] = ''
    
for (index, row) in df.iterrows():
    df.at[index,'texto'] = get_caption(row['id'])

df.head()

   id   rotulo                                              texto
0   1    FALSO  a woman in a white dress and a white dress a w...
1   2    FALSO  a close up of a pair of scissors a close up of...
2   3  VERDADE  a group of people sitting around a table eatin...
3   4  VERDADE  a man wearing a tie and a white shirt . a man ...
4   5  VERDADE  a person laying on a bed with a blanket . a wo...

In [12]:
#df.to_csv('datasets/dataset_caption.csv', index=False)
df.to_csv('datasets2/dataset_caption.csv', index=False)