In [1]:
import pandas as pd

In [34]:
#data = pd.read_csv("datasets/dataset-img.csv")
#data = pd.read_csv("datasets2/dataset-img.csv")
#data = pd.read_csv("datasets2/dataset-img-sub.csv")
#data = pd.read_csv("datasets/dataset_texto_concat.csv")
data = pd.read_csv("datasets2/dataset_texto_concat.csv")
data.head()

     id                                              texto   rotulo
0    53  Eu tenho uma planta de pimenta possuída, a cad...    FALSO
1  1136  Como lixo plástico derretido poderia aquecer a...  VERDADE
2   695  Bill, o açougueiro, Daniel Daylewis, leva um j...    FALSO
3  3312  Alan Marsh, um fazendeiro australiano chooks e...  VERDADE
4  1314  Óvulos humanos com potencial para se tornarem ...  VERDADE

## Tramanto para começar a extração do texto

In [35]:
df = data[['id', 'texto', 'rotulo']].copy()
#df = data[['id', 'texto_pt', 'rotulo']].copy()
df.head()

     id                                              texto   rotulo
0    53  Eu tenho uma planta de pimenta possuída, a cad...    FALSO
1  1136  Como lixo plástico derretido poderia aquecer a...  VERDADE
2   695  Bill, o açougueiro, Daniel Daylewis, leva um j...    FALSO
3  3312  Alan Marsh, um fazendeiro australiano chooks e...  VERDADE
4  1314  Óvulos humanos com potencial para se tornarem ...  VERDADE

In [36]:
#replace($TEXTO_ORIG$,". ." ,". " )
#Remove acentuação errada
#df["texto"] = ""
#df["texto"] = df["texto_pt"].apply(lambda x: (str(x).replace(". .", ". ")))
#df = df.drop("texto_pt", axis=1)

df["texto"] = df["texto"].apply(lambda x: (str(x).replace(". .", ". ")))
len(df.index)

992

## Contagem no Texto

In [37]:
from nltk import tokenize    
import re
from collections import Counter
from nltk.corpus import stopwords
from string import punctuation

def count_letters(text):
    counts = "".join(text.split())   
    return len(counts)

def count_words(text):
    stop_words = set(stopwords.words('portuguese') + list(punctuation))
    palavras = tokenize.word_tokenize(text.lower())
    palavras_sem_stopwords = [palavra for palavra in palavras if palavra not in stop_words]
    
    return len(palavras_sem_stopwords)

def count_upper_letters(text):
    uppers = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    nonPunct = re.compile('.*[A-Za-z0-9].*')
    filtered = [w for w in text if nonPunct.match(w) and w in uppers]
    #counts = Counter(filtered)
    
    return len(filtered) or 0

def count_special_char(text, char):
    filtered = [w for w in text if w in char]
    
    return len(filtered) or 0

def weird_division(n, d):
    return n / d if d else 0
    
df['PALAVRAS'] = 0.0
df['LETRAS'] = 0.0
df['MAIUSCULAS'] = 0.0
df['EXCLAMA'] = 0.0
df['ASPAS'] = 0.0
#df['LEN'] = 0.0
    
for (index, row) in df.iterrows():
    #print("words: ",count_words(row['texto'])) 
    #print("letters: ",count_letters(row['texto']))
    letters = count_letters(row['texto'])
    #df.at[index,'LEN'] = len(row['texto'])
    df.at[index,'PALAVRAS'] = count_words(row['texto'])
    df.at[index,'LETRAS'] = letters
    df.at[index,'MAIUSCULAS'] = weird_division(count_upper_letters(row['texto']),letters )
    df.at[index,'EXCLAMA'] = weird_division(count_special_char(row['texto'],"!"), letters)
    df.at[index,'ASPAS'] = weird_division(count_special_char(row['texto'],"\""), letters)

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS
0,53,"Eu tenho uma planta de pimenta possuída, a cad...",FALSO,51.0,427.0,0.018735,0.0,0.0
1,1136,Como lixo plástico derretido poderia aquecer a...,VERDADE,47.0,407.0,0.009828,0.0,0.0
2,695,"Bill, o açougueiro, Daniel Daylewis, leva um j...",FALSO,25.0,193.0,0.041451,0.0,0.0
3,3312,"Alan Marsh, um fazendeiro australiano chooks e...",VERDADE,49.0,402.0,0.012438,0.0,0.0
4,1314,Óvulos humanos com potencial para se tornarem ...,VERDADE,37.0,364.0,0.000000,0.0,0.0

In [38]:
df.describe(include='all')

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS
count,992.000000,992,992,992.000000,992.000000,992.000000,992.0,992.000000
unique,NaN,992,2,NaN,NaN,NaN,NaN,NaN
top,NaN,Um juiz federal decidiu não bloquear um projet...,VERDADE,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,613,NaN,NaN,NaN,NaN,NaN
mean,1987.896169,NaN,NaN,36.170363,299.561492,0.016719,0.0,0.000020
std,1165.308709,NaN,NaN,5.550448,44.446254,0.011686,0.0,0.000369
min,3.000000,NaN,NaN,22.000000,192.000000,0.000000,0.0,0.000000
25%,981.750000,NaN,NaN,32.000000,266.750000,0.007835,0.0,0.000000
50%,1935.500000,NaN,NaN,36.000000,294.000000,0.014643,0.0,0.000000
75%,3037.750000,NaN,NaN,39.250000,325.000000,0.023083,0.0,0.000000
max,3989.000000,NaN,NaN,57.000000,485.000000,0.101215,0.0,0.007117

## Extração de Polaridade

In [39]:
sentilexpt = open("lexicos/SentiLex-lem-PT02.txt","r")
dic_palavra_polaridade = {}

for i in sentilexpt.readlines():
    pos_ponto = i.find(".")
    palavra = (i[:pos_ponto])
    pol_pos = i.find("POL")
    polaridade = (i[pol_pos+7:pol_pos+9]).replace(";","")
    dic_palavra_polaridade[palavra] = polaridade

def score_sentimento(frase):
    frase = frase.lower()
    l_sentimento = []
    for p in frase.split():
        l_sentimento.append(int(dic_palavra_polaridade.get(p, 0)))
    score = sum(l_sentimento)
    if score > 0:
        return 'Positivo', score
    elif score == 0:
        return 'Neutro', score
    else:
        return 'Negativo', score

df['Score_Pol'] = 0.0 
df['POL'] = "" 

for (index, row) in df.iterrows():
    pol, score = score_sentimento(row['texto'])
    df.at[index,'Score_Pol'] = score
    df.at[index,'POL'] = pol

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL
0,53,"Eu tenho uma planta de pimenta possuída, a cad...",FALSO,51.0,427.0,0.018735,0.0,0.0,0.0,Neutro
1,1136,Como lixo plástico derretido poderia aquecer a...,VERDADE,47.0,407.0,0.009828,0.0,0.0,-2.0,Negativo
2,695,"Bill, o açougueiro, Daniel Daylewis, leva um j...",FALSO,25.0,193.0,0.041451,0.0,0.0,0.0,Neutro
3,3312,"Alan Marsh, um fazendeiro australiano chooks e...",VERDADE,49.0,402.0,0.012438,0.0,0.0,1.0,Positivo
4,1314,Óvulos humanos com potencial para se tornarem ...,VERDADE,37.0,364.0,0.000000,0.0,0.0,0.0,Neutro

## Normalizando os Valores de Polaridade

In [40]:
#from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

dfn =  df[['Score_Pol']].copy()
names = dfn.columns

scaler = MinMaxScaler().fit(dfn)
dfn = scaler.transform(dfn)
dfn = pd.DataFrame(dfn, columns= names)  

df["POL_ABSOLUTO"] = dfn['Score_Pol']

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,POL_ABSOLUTO
0,53,"Eu tenho uma planta de pimenta possuída, a cad...",FALSO,51.0,427.0,0.018735,0.0,0.0,0.0,Neutro,0.500000
1,1136,Como lixo plástico derretido poderia aquecer a...,VERDADE,47.0,407.0,0.009828,0.0,0.0,-2.0,Negativo,0.333333
2,695,"Bill, o açougueiro, Daniel Daylewis, leva um j...",FALSO,25.0,193.0,0.041451,0.0,0.0,0.0,Neutro,0.500000
3,3312,"Alan Marsh, um fazendeiro australiano chooks e...",VERDADE,49.0,402.0,0.012438,0.0,0.0,1.0,Positivo,0.583333
4,1314,Óvulos humanos com potencial para se tornarem ...,VERDADE,37.0,364.0,0.000000,0.0,0.0,0.0,Neutro,0.500000

## Análise gramatical com LIWC 2015

In [41]:
import math
import time
from liwc import Liwc

def lexical_builder(df, dic_path, dic_fields):
    #Carrega a biblioteca do LIWC
    LIWC_FILEPATH = dic_path
    liwc = Liwc(LIWC_FILEPATH)

    colunas = "id,"   
    colunas += ','.join(liwc.categories.values())
    colunas = colunas.split(',')

    #Create empty table
    dfout = pd.DataFrame(columns=(colunas))

    result = []
    for index, row in df.iterrows():
        indice = row['id']
        news = str(row['texto']).lower()    
        emocoes = (liwc.parse(news.split(' ')))
        # Cria matriz esparsa
        avalia = dict.fromkeys(liwc.categories.values(),1 )
        for categ in liwc.categories:
            avalia[liwc.categories[categ]] = emocoes[liwc.categories[categ]] / row['LETRAS']
        temp = {"indice": indice}
        dest = {**temp, ** avalia}    
        result.append(dest)

    for dados in result:
        #print (dados.values())
        b = pd.DataFrame([dados.values()], columns=(colunas))
        dfout = dfout.append(b , ignore_index=True)

    dfout = dfout[dic_fields].copy()
    return dfout
    

dfgram = lexical_builder(df,
                         "lexicos/LIWC2015_pt-utf8.dic",
                         ['id','funct','pronoun','ppron','i','we','you','shehe','they','ipron','article','prep',
                          'auxverb','adverb','conj','negate','verb','adj','interrog'])
dfgram.head()

,id,funct,pronoun,ppron,i,we,you,shehe,they,ipron,article,prep,auxverb,adverb,conj,negate,verb,adj,interrog
0,53,0.103044,0.049180,0.016393,0.004684,0.0,0.000000,0.007026,0.004684,0.039813,0.037471,0.039813,0.009368,0.021077,0.009368,0.002342,0.016393,0.014052,0.002342
1,1136,0.095823,0.041769,0.009828,0.000000,0.0,0.000000,0.007371,0.002457,0.039312,0.029484,0.036855,0.012285,0.017199,0.017199,0.004914,0.027027,0.002457,0.014742
2,695,0.103627,0.051813,0.010363,0.000000,0.0,0.005181,0.010363,0.005181,0.046632,0.046632,0.051813,0.000000,0.000000,0.000000,0.000000,0.005181,0.010363,0.000000
3,3312,0.087065,0.032338,0.007463,0.000000,0.0,0.002488,0.004975,0.002488,0.027363,0.024876,0.044776,0.007463,0.007463,0.004975,0.000000,0.012438,0.009950,0.002488
4,1314,0.107143,0.038462,0.008242,0.000000,0.0,0.000000,0.005495,0.002747,0.035714,0.030220,0.060440,0.010989,0.010989,0.010989,0.000000,0.013736,0.005495,0.010989

In [42]:
df = pd.merge(df, dfgram,  left_on='id', right_on='id')
df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,...,ipron,article,prep,auxverb,adverb,conj,negate,verb,adj,interrog
0,53,"Eu tenho uma planta de pimenta possuída, a cad...",FALSO,51.0,427.0,0.018735,0.0,0.0,0.0,Neutro,...,0.039813,0.037471,0.039813,0.009368,0.021077,0.009368,0.002342,0.016393,0.014052,0.002342
1,1136,Como lixo plástico derretido poderia aquecer a...,VERDADE,47.0,407.0,0.009828,0.0,0.0,-2.0,Negativo,...,0.039312,0.029484,0.036855,0.012285,0.017199,0.017199,0.004914,0.027027,0.002457,0.014742
2,695,"Bill, o açougueiro, Daniel Daylewis, leva um j...",FALSO,25.0,193.0,0.041451,0.0,0.0,0.0,Neutro,...,0.046632,0.046632,0.051813,0.000000,0.000000,0.000000,0.000000,0.005181,0.010363,0.000000
3,3312,"Alan Marsh, um fazendeiro australiano chooks e...",VERDADE,49.0,402.0,0.012438,0.0,0.0,1.0,Positivo,...,0.027363,0.024876,0.044776,0.007463,0.007463,0.004975,0.000000,0.012438,0.009950,0.002488
4,1314,Óvulos humanos com potencial para se tornarem ...,VERDADE,37.0,364.0,0.000000,0.0,0.0,0.0,Neutro,...,0.035714,0.030220,0.060440,0.010989,0.010989,0.010989,0.000000,0.013736,0.005495,0.010989

## Análise de Sentimentos Affect-BR

In [43]:

dfaffect = lexical_builder(df,
                         "lexicos/Affect-BR-utf8.dic",
                         ['id','affect','posemo','negemo','anx','anger','sad'])
dfaffect.head()

     id    affect    posemo    negemo       anx     anger  sad
0    53  0.014052  0.002342  0.011710  0.002342  0.000000  0.0
1  1136  0.017199  0.002457  0.014742  0.000000  0.002457  0.0
2   695  0.000000  0.000000  0.000000  0.000000  0.000000  0.0
3  3312  0.009950  0.002488  0.007463  0.000000  0.000000  0.0
4  1314  0.002747  0.002747  0.000000  0.000000  0.000000  0.0

In [44]:
df = pd.merge(df, dfaffect,  left_on='id', right_on='id')
df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,...,negate,verb,adj,interrog,affect,posemo,negemo,anx,anger,sad
0,53,"Eu tenho uma planta de pimenta possuída, a cad...",FALSO,51.0,427.0,0.018735,0.0,0.0,0.0,Neutro,...,0.002342,0.016393,0.014052,0.002342,0.014052,0.002342,0.011710,0.002342,0.000000,0.0
1,1136,Como lixo plástico derretido poderia aquecer a...,VERDADE,47.0,407.0,0.009828,0.0,0.0,-2.0,Negativo,...,0.004914,0.027027,0.002457,0.014742,0.017199,0.002457,0.014742,0.000000,0.002457,0.0
2,695,"Bill, o açougueiro, Daniel Daylewis, leva um j...",FALSO,25.0,193.0,0.041451,0.0,0.0,0.0,Neutro,...,0.000000,0.005181,0.010363,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,3312,"Alan Marsh, um fazendeiro australiano chooks e...",VERDADE,49.0,402.0,0.012438,0.0,0.0,1.0,Positivo,...,0.000000,0.012438,0.009950,0.002488,0.009950,0.002488,0.007463,0.000000,0.000000,0.0
4,1314,Óvulos humanos com potencial para se tornarem ...,VERDADE,37.0,364.0,0.000000,0.0,0.0,0.0,Neutro,...,0.000000,0.013736,0.005495,0.010989,0.002747,0.002747,0.000000,0.000000,0.000000,0.0

## Normalizando os valores Gramticais e Emoções

In [45]:
dfn = df[[
    'POL_ABSOLUTO',
    'MAIUSCULAS',
    'EXCLAMA',
    'ASPAS',
    'funct',
    'pronoun',
    'ppron',
    'i',
    'we',
    'you',
    'shehe',
    'they',
    'ipron',
    'article',
    'prep',
    'auxverb',
    'adverb',
    'conj',
    'negate',
    'verb',
    'adj',
    'interrog',
    'affect',
    'posemo',
    'negemo',
    'anx',
    'anger',
    'sad']].copy()

names = dfn.columns

scaler = MinMaxScaler().fit(dfn)
dfn = scaler.transform(dfn)
dfn = pd.DataFrame(dfn, columns= names)  
dfn.head()

,POL_ABSOLUTO,MAIUSCULAS,EXCLAMA,ASPAS,funct,pronoun,ppron,i,we,you,...,negate,verb,adj,interrog,affect,posemo,negemo,anx,anger,sad
0,0.500000,0.185105,0.0,0.0,0.488384,0.419191,0.230473,0.237002,0.0,0.000000,...,0.104996,0.324418,0.373536,0.104918,0.348045,0.078747,0.441619,0.245902,0.000000,0.0
1,0.333333,0.097101,0.0,0.0,0.428923,0.321148,0.138170,0.000000,0.0,0.000000,...,0.220311,0.534851,0.065315,0.660442,0.426006,0.082617,0.555985,0.000000,0.186732,0.0
2,0.500000,0.409534,0.0,0.0,0.493180,0.454024,0.145687,0.000000,0.0,0.243523,...,0.000000,0.102536,0.275475,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,0.583333,0.122886,0.0,0.0,0.356806,0.196390,0.104917,0.000000,0.0,0.116915,...,0.000000,0.246138,0.264511,0.111443,0.246460,0.083644,0.281450,0.000000,0.000000,0.0
4,0.500000,0.000000,0.0,0.0,0.522131,0.277393,0.115869,0.000000,0.0,0.000000,...,0.000000,0.271833,0.146062,0.492308,0.068047,0.092376,0.000000,0.000000,0.000000,0.0

In [46]:
df['POL_ABSOLUTO'] = dfn['POL_ABSOLUTO']
df['MAIUSCULAS'] = dfn['MAIUSCULAS']
df['EXCLAMA'] = dfn['EXCLAMA']
df['ASPAS'] = dfn['ASPAS']
df['funct'] = dfn['funct']
df['pronoun'] = dfn['pronoun']
df['ppron'] = dfn['ppron']
df['i'] = dfn['i']
df['we'] = dfn['we']
df['you'] = dfn['you']
df['shehe'] = dfn['shehe']
df['they'] = dfn['they']
df['ipron']= dfn['ipron']
df['article'] = dfn['article']
df['prep'] = dfn['prep']
df['auxverb'] = dfn['auxverb']
df['adverb'] = dfn['adverb']
df['conj'] = dfn['conj']
df['negate'] = dfn['negate']
df['verb'] = dfn['verb']
df['adj'] = dfn['adj']
df['interrog'] = dfn['interrog']
df['affect'] = dfn['affect']
df['posemo'] = dfn['posemo']
df['negemo'] = dfn['negemo']
df['anx'] = dfn['anx']
df['anger'] = dfn['anger']
df['sad'] = dfn['sad']

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,...,negate,verb,adj,interrog,affect,posemo,negemo,anx,anger,sad
0,53,"Eu tenho uma planta de pimenta possuída, a cad...",FALSO,51.0,427.0,0.185105,0.0,0.0,0.0,Neutro,...,0.104996,0.324418,0.373536,0.104918,0.348045,0.078747,0.441619,0.245902,0.000000,0.0
1,1136,Como lixo plástico derretido poderia aquecer a...,VERDADE,47.0,407.0,0.097101,0.0,0.0,-2.0,Negativo,...,0.220311,0.534851,0.065315,0.660442,0.426006,0.082617,0.555985,0.000000,0.186732,0.0
2,695,"Bill, o açougueiro, Daniel Daylewis, leva um j...",FALSO,25.0,193.0,0.409534,0.0,0.0,0.0,Neutro,...,0.000000,0.102536,0.275475,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,3312,"Alan Marsh, um fazendeiro australiano chooks e...",VERDADE,49.0,402.0,0.122886,0.0,0.0,1.0,Positivo,...,0.000000,0.246138,0.264511,0.111443,0.246460,0.083644,0.281450,0.000000,0.000000,0.0
4,1314,Óvulos humanos com potencial para se tornarem ...,VERDADE,37.0,364.0,0.000000,0.0,0.0,0.0,Neutro,...,0.000000,0.271833,0.146062,0.492308,0.068047,0.092376,0.000000,0.000000,0.000000,0.0

## Grava o Dataset para usar nos Algoritmos de ML

In [47]:
df = df.drop('texto',axis=1)
df = df.drop('Score_Pol',axis=1)
df = df.drop('POL',axis=1)
df = df.drop('PALAVRAS',axis=1)
df = df.drop('LETRAS',axis=1)

#df.to_csv('datasets/ds_texto.csv', index=False) 
#df.to_csv('datasets2/ds_texto.csv', index=False) 
#df.to_csv('datasets/ds_texto_concat.csv', index=False) 
df.to_csv('datasets2/ds_texto_concat.csv', index=False)