In [2]:
import pandas as pd

In [3]:
#dftexto = pd.read_csv("datasets/dataset-img.csv")
dftexto = pd.read_csv("datasets2/dataset-img-sub.csv")
dftexto.head()

,id,rotulo,texto,texto_pt,len
0,53,FALSO,i have a possessed pepper plant every third or...,"Eu tenho uma planta de pimenta possuída, a cad...",352
1,1136,VERDADE,how melting plastic waste could heat homes res...,Como lixo plástico derretido poderia aquecer a...,331
2,695,FALSO,bill the butcher daniel daylewis takes a young...,"Bill, o açougueiro, Daniel Daylewis, leva um j...",326
3,3312,VERDADE,alan marsh an australian chook farmer successf...,"Alan Marsh, um fazendeiro australiano chooks e...",322
4,1314,VERDADE,human eggs with potential to become fertilised...,Óvulos humanos com potencial para se tornarem ...,319

In [4]:
#dfcaption = pd.read_csv("datasets/dataset_caption.csv")
dfcaption = pd.read_csv("datasets2/dataset_caption_pt.csv")
dfcaption.head()

,id,rotulo,texto,texto_pt
0,53,FALSO,a bunch of different types of fruit on a table...,Um monte de frutas diferentes sobre uma mesa. ...
1,1136,VERDADE,a bunch of items that are on a table . a bunch...,Um monte de itens que estão em cima de uma mes...
2,695,FALSO,a birthday cake with a train on it a birthday ...,um bolo de aniversário com um trem em um bolo ...
3,3312,VERDADE,a white dog laying on top of a bed . a white d...,Um cachorro branco deitado em cima de uma cama...
4,1314,VERDADE,a close up of a cake with a train on it a clos...,um close-up de um bolo com um trem em cima de ...

In [5]:
df = pd.merge(dftexto, dfcaption,  left_on='id', right_on='id')
df.head()

,id,rotulo_x,texto_x,texto_pt_x,len,rotulo_y,texto_y,texto_pt_y
0,53,FALSO,i have a possessed pepper plant every third or...,"Eu tenho uma planta de pimenta possuída, a cad...",352,FALSO,a bunch of different types of fruit on a table...,Um monte de frutas diferentes sobre uma mesa. ...
1,1136,VERDADE,how melting plastic waste could heat homes res...,Como lixo plástico derretido poderia aquecer a...,331,VERDADE,a bunch of items that are on a table . a bunch...,Um monte de itens que estão em cima de uma mes...
2,695,FALSO,bill the butcher daniel daylewis takes a young...,"Bill, o açougueiro, Daniel Daylewis, leva um j...",326,FALSO,a birthday cake with a train on it a birthday ...,um bolo de aniversário com um trem em um bolo ...
3,3312,VERDADE,alan marsh an australian chook farmer successf...,"Alan Marsh, um fazendeiro australiano chooks e...",322,VERDADE,a white dog laying on top of a bed . a white d...,Um cachorro branco deitado em cima de uma cama...
4,1314,VERDADE,human eggs with potential to become fertilised...,Óvulos humanos com potencial para se tornarem ...,319,VERDADE,a close up of a cake with a train on it a clos...,um close-up de um bolo com um trem em cima de ...

In [6]:
df['rotulo'] = df['rotulo_x']
#Dataset 1
#df['texto'] = df['texto_x']
#Dataset 2
df['texto'] = df['texto_pt_x']
df['texto_pt'] = df['texto_pt_y']

df = df.drop('rotulo_x',axis=1) 
df = df.drop('rotulo_y',axis=1) 
df = df.drop('texto_x',axis=1) 
df = df.drop('texto_y',axis=1) 
df.head()

,id,texto_pt_x,len,texto_pt_y,rotulo,texto,texto_pt
0,53,"Eu tenho uma planta de pimenta possuída, a cad...",352,Um monte de frutas diferentes sobre uma mesa. ...,FALSO,"Eu tenho uma planta de pimenta possuída, a cad...",Um monte de frutas diferentes sobre uma mesa. ...
1,1136,Como lixo plástico derretido poderia aquecer a...,331,Um monte de itens que estão em cima de uma mes...,VERDADE,Como lixo plástico derretido poderia aquecer a...,Um monte de itens que estão em cima de uma mes...
2,695,"Bill, o açougueiro, Daniel Daylewis, leva um j...",326,um bolo de aniversário com um trem em um bolo ...,FALSO,"Bill, o açougueiro, Daniel Daylewis, leva um j...",um bolo de aniversário com um trem em um bolo ...
3,3312,"Alan Marsh, um fazendeiro australiano chooks e...",322,Um cachorro branco deitado em cima de uma cama...,VERDADE,"Alan Marsh, um fazendeiro australiano chooks e...",Um cachorro branco deitado em cima de uma cama...
4,1314,Óvulos humanos com potencial para se tornarem ...,319,um close-up de um bolo com um trem em cima de ...,VERDADE,Óvulos humanos com potencial para se tornarem ...,um close-up de um bolo com um trem em cima de ...

In [7]:
for (index, row) in df.iterrows():
    df.at[index,'texto'] += ". " + row['texto_pt'] + "."

dfsave = df[['id', 'texto', 'rotulo']].copy()
dfsave.head()

     id                                              texto   rotulo
0    53  Eu tenho uma planta de pimenta possuída, a cad...    FALSO
1  1136  Como lixo plástico derretido poderia aquecer a...  VERDADE
2   695  Bill, o açougueiro, Daniel Daylewis, leva um j...    FALSO
3  3312  Alan Marsh, um fazendeiro australiano chooks e...  VERDADE
4  1314  Óvulos humanos com potencial para se tornarem ...  VERDADE

In [8]:
#dfsave.to_csv('datasets/dataset_texto_concat.csv', index=False) 
dfsave.to_csv('datasets2/dataset_texto_concat.csv', index=False)